/* Base font sizes for desktop */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;


}

:root {
    --blue-one: #00ceff;

    --jakarta-sans: "Plus Jakarta Sans", serif;
    --dull-white: #FFFFFF;
    --poppins: "Poppins", serif;
    --montserrat: "Montserrat", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    /* 48px */
}

h2 {
    font-size: 2.5rem;
    font-weight: 800 !important;
    margin: 0;
    /* 40px */
}

h3 {
    font-size: 2rem;
    /* 32px */
}

h4 {
    font-size: 1.5rem;
    /* 24px */
}

h5 {
    font-size: 1.25rem;
    /* 20px */
}

h6 {
    font-size: 1.125rem;
    font-weight: 500;
    /* 18px */
}

p {
    margin: 0;
}


.blue-text {
    color: var(--blue-one);
}

main {
    width: 100%;
}

header {
    width: 100%;
    background-color: var(--dull-white);

}

.header-content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
    margin-bottom: 2rem;

}

.header-content .logo {
    width: 12rem;
    margin: 2.3rem;
}

.header-content .blue-line {
    width: 50%;
}


.main-content-section {
    width: 100%;
}

.content-section {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section h6:nth-of-type(1) {
    text-align: center;
    margin: 10px 0 3rem 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4rem;
    font-family: var(--jakarta-sans);
}

.content-section h1:nth-of-type(1) {
    text-align: center;
    margin-top: -2rem;
    line-height: 4rem;
    font-weight: 800;
    color: #2f2f2f;
    font-size: 48px !important;
    font-family: var(--montserrat);
    width: 88%;
}




.burning-container {
    padding: 0 20px;
}

.burning-container h4 {
    font-weight: 400;
    position: relative;
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 1.5rem;
    font-family: var(--jakarta-sans);
    margin: 0;

}

.step-container {
    width: 100%;
    margin: 1.5rem 0;
}


.step-line {
    border: 1px solid var(--blue-one);
    min-height: 3.5rem;
}




.step-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0rem 0 0 0;
    gap: 1rem;
}

.step-content h2 {
    font-weight: 600 !important;
}

.step-para {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

.step-container:nth-last-of-type(2) {
    margin-top: 0 !important;
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video {
    position: relative;
    width: 93%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
}

.video iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.calender-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;



}

.calender-container .calender {
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calendly-inline-widget {
    margin: 0;
    padding: 0 0 0 0rem;
    min-width: 485px !important;
}


footer {
    width: 100%;
    /* border: 2px solid red; */
    background-color: black;
}

.footer-content {
    width: 100%;
    max-width: 1300px;
    padding: 2rem 0;
    margin: 0 auto;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.footer-content p {
    margin: 1rem 0;
    font-size: 14px;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content p:nth-of-type(3) {
    width: 50%;
    text-align: center;
    line-height: 1.9rem;
}


@media (max-width:786px) {
    .content-section h1:nth-of-type(1) {
        line-height: 3rem;
        font-size: 33px !important;
        width: 98%;
    }

    .burning-container h4 {


        text-align: center;


    }

    .step-container {
        width: 100%;
    }

    .step-para {
        text-align: center;
        font-size: 1.1rem;

    }
}

@media (max-width:480px) {
    .video-container {

        width: 100%;
    }

    .video-container .video iframe {
        border-radius: 10px;
        border: 3px solid white;


    }

    .step-content {
        padding: 1rem 20px;
    }

    .step-para {
        text-align: center;
        font-size: 1rem;
    }

    .content-section h1:nth-of-type(1) {
        line-height: 1.8rem;
        font-size: 21px !important;
        width: 89%;
    }

    .footer-content p:nth-of-type(3) {
        width: 72%;

    }

    .header-content .logo {
        width: 7rem;
        margin: 1rem;
    }

    .footer-content p {

        font-size: 12px;
    }

    .calendly-inline-widget {
        min-width: 280px !important;
        max-width: 300px !important;
    }

    .content-section h6:nth-of-type(1) {

        padding: 0 1rem;

    }

    .step-content {
        flex-direction: column;
        gap: 0rem;
    }

    .step-content h2 {
        margin: 10px 0;
        font-size: 2rem;
    }

    .step-line {

        min-height: 11.5rem;
        transform: rotate(90deg);
        margin: -6rem 0;
    }

    .step-content p {
        text-align: center;
        padding: 0 1rem;
    }

    /* .calendly-inline-widget iframe {
        padding: 0 10px;
    } */


    .step-line {
        margin-bottom: -5rem;
    }



    .video iframe {

        width: 100%;

    }


    .calender-container .calender {

        margin: 0 10px;

    }


}

@media (max-width:320px) {
    .calendly-inline-widget {
        min-width: 250px !important;
    }

    .content-section h1:nth-of-type(1) {

        font-size: 19px !important;
        width: 92%;
        line-height: 26px;
    }

    .step-container:nth-last-of-type(2) {
        margin-top: 10rem !important;
    }
}